{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-4">About Us</h1>
                <p class="lead">Welcome to our Bodybuilding News Blog!</p>
                <p>This is the about page for our bodybuilding news blog site. We are passionate about providing you with the latest and most exciting news from the world of bodybuilding and fitness.</p>
            </div>
            <div class="col-lg-6">
                <!-- Add some styling to the image container -->
                <div class="about-image-container">
                    <img src="{% static 'img/backdouble.jpeg' %}" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
